{% extends "base.html" %}

{% block vsebina %}

    <div class="jumbotron">
        <h2><a href="/preglej-objavo/{{ objava.key.id() }}">{{ objava.naslov }}</a></h2>
        <p>{{ objava.vsebina }}</p>
        {% if lahko_izbrise %}
        <form action="/preglej-objavo/{{objava.key.id()}}/delete", method="post">
            <button class="btn btn-danger">Izbrisi objavo</button>
        </form>
        {% endif %}
        <small>Avtor: {{ objava.uporabnik_email }}</small>&nbsp;&nbsp;&nbsp;&nbsp;
        <small>Objavljeno: {{ objava.cas_objave }}</small>
    </div>

    <h2>Komentarji</h2>

    <div>
        {% for komentar in komentarji %}
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4" style="background: lightblue">
                <b>{{ komentar.uporabnik_email }}</b> je napisal:
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="background: lightcyan">
                {{ komentar.vsebina }}
            </div>
        </div>
        {% endfor %}
    </div>

    <h2>Dodaj komentar</h2>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div class="form-group">
                    <label>Vsebina</label>
                    <textarea name="text" class="form-control" rows="6" required></textarea>
                </div>

                <input name="csrf-zeton" value="{{ csrf_zeton }}" hidden>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}